{% comment %}
    Displays a twitter feed for the twitter user in _data/information.yml
    as well as the latest 2 documents from the _posts/ collection
{% endcomment %}

{% if page.show_news %}
<section class="news-twitter">
    <div class="container pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="col-wrap twitter-wrap">
                <h2>Facebook</h2>
                <iframe
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F{{ site.data.information.facebook }}&tabs=timeline&width=340&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                    width="340"
                    height="300"
                    style="border:none;overflow:hidden"
                    scrolling="no"
                    frameborder="0"
                    allowTransparency="true"
                    allow="encrypted-media">
                </iframe>
                <div class="fb-page" 
                    data-tabs="timeline,events,messages"
                    data-href="https://www.facebook.com/kindergarsen.bolorerdem"
                    data-hide-cover="false"></div>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="col-wrap">
                <h2>Latest News</h2>
                <ul class="posts">
                    {% for post in site.posts limit:3 %}
                    <li>
                        <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
                        <date>{{ post.date | date_to_string }}</date>
                        <date>{{ post.sub_heading }}</date>
                    </li>
                    {% endfor %}
                </ul>
                <a href="{{ "/posts/" | absolute_url }}" class="button-outline pure-button">More News <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</section>
{% endif %}
